/*********************************************************************
	Form element
*********************************************************************/

.#{$prefix} {
	
	&btn{
		display: inline-block;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		vertical-align: middle;
		user-select: none;
		border-left: 0;
		border-right: 0;
		border-top: 0;
		border-bottom: 2px solid transparent;
		padding: .5rem .75rem;
		font-size: 1rem;
		line-height: 1.5;
		border-radius: 0;
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
		font-size: 14px;
		text-transform: uppercase;
		font-family: $font-family-sans-serif;
		font-weight: $font-weight-semi-bold;
		letter-spacing: 1px;
		cursor: pointer;
	}
	
	&btn--primary{
		color: #fff;
		background-color: $color-burnt-sienna;
		border-color: $color-flamingo;
		&:hover{
			background: $color-flamingo;
		}
	}
	
	
}
